@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('assets/background.png');
  background-size: contain;
}

.button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .icon {
  width: 23px;
  height: 24px;
  display: inline-block;
  color: #DB4655;
}

.button .icon svg {
  height: 100%;
  width: 100%;
}

.container  input:checked + .button .icon {
  color: white;
}

.container  input:checked + .button svg {
  fill: #18181B;
}

.container  input:checked + .button {
  box-shadow: 0px 0px 100px 0px #1fff7d47
}